<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center sf-pro bold header-title">
      Bella bot
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="ion-text-center">
        Bella bot
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <div *ngFor="let conversation of conversations">
        <div class="bot-item-container">
          <ion-avatar class="avatar">
            <img src="../../assets/bella-profile.png">
          </ion-avatar>
          <div class="text-box">
            <span class="sf-pro label">
              {{conversation.message}}
            </span>
          </div>
        </div>
      </div>
    </ion-list>
  </div>
</ion-content>