<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center sf-pro bold header-title">
      Bella bot
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="ion-text-center">
        Bella bot
      </ion-title>
    </ion-toolbar>
  </ion-header>
<app-onboarded>

</app-onboarded>
  <div id="container">
    <ion-list class="list">
      <div *ngFor="let conversation of conversations">
        <div *ngIf="conversation.user === 'bot'" class="bot-item-container">
          <ion-avatar class="avatar">
            <img src="/assets/bella-profile.png" *ngIf="conversation.step === currentStep">
          </ion-avatar>
          <div class="loading" *ngIf="!!currentStepObj.loading && conversation.step === currentStep">
            <ng-lottie [options]="loadingAnim" height="32px" width="80px"> </ng-lottie>
          </div>
          <div class="text-box">
            <span
              *ngIf="conversation.step !== currentStep || (!currentStepObj.loading && conversation.step === currentStep)"
              class="sf-pro label">
              {{conversation.message}}
            </span>
          </div>
        </div>
        <div *ngIf="conversation.user === 'user'" class="user-item-container">
          <div class="text-box">
            <span class="sf-pro label">
              {{conversation.message}}
            </span>
          </div>
        </div>
      </div>
    </ion-list>
    <div *ngIf="currentStepObj.responseType === 'text'" class="text-input-container">
      <div class="input-box">
        <ion-label position="stacked" class="sf-pro bold label">Name</ion-label>
        <ion-input class="input" (change)="onChangeInput($event)" value={{inputVal}}></ion-input>
      </div>
      <ion-button (click)="onSubmitBtn($event)">
        <ion-icon slot="icon-only" src="/assets/Send.svg"></ion-icon>
      </ion-button>
    </div>
    <div *ngIf="currentStepObj.responseType === 'number'" class="text-input-container">
      <ion-range (ionChange)="onChangeInput($event)" value={{inputVal}} dualKnobs="false" min="10" max="100" step="1"
        snaps="false" pin="true"></ion-range>
      <ion-button (click)="onSubmitBtn($event)">
        <ion-icon slot="icon-only" src="/assets/Send.svg"></ion-icon>
      </ion-button>
    </div>
    <div *ngIf="currentStepObj.responseType === 'dropdown'" class="dd-input-container">
      <div *ngFor="let opt of ddOpts">
        <div (click)="onSubmitOpt(opt)" class="btn">
          {{opt}}
        </div>
      </div>
    </div>
  </div>
</ion-content>
