.header-title {
  font-size: 24px;
}

.bot-item-container {
  min-height: 50px;
  justify-items: flex-start;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 20px;
  .avatar {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-right: 10px;
  }
  .text-box {
    background-color: #f6f6f7;
    min-height: 48px;
    margin: 10px;
    border-radius: 24px;
    display: flex;
    justify-items: center;
    justify-content: center;
    .label {
      padding: 15px;
      font-size: 14px;
      color: var(--ion-text-color) !important;
    }
  }
}

.user-item-container {
  min-height: 50px;
}
