.header-title {
  font-size: 32px;
}

.bot-item-container {
  min-height: 48px;
  justify-items: flex-start;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 20px;
  .avatar {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-right: 5px;
  }
  .text-box {
    background-color: #f6f6f7;
    min-height: 48px;
    margin: 10px 5px;
    border-radius: 24px;
    display: flex;
    justify-items: center;
    justify-content: center;
    .label {
      padding: 15px;
      font-size: 14px;
      color: var(--ion-text-color) !important;
    }
  }
}

.user-item-container {
  min-height: 48px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;;
  margin: 20px;
  .text-box {
    background-color: #f6f6f7;
    min-height: 48px;
    margin: 10px 5px;
    border-radius: 24px;
    display: flex;
    justify-items: center;
    justify-content: center;
    .label {
      padding: 15px;
      font-size: 14px;
      color: var(--ion-text-color) !important;
    }
  }
}

.text-input-container {
  background-color: #edeef7;
  min-height: 140px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  .input-box {
    width: 100%;
    margin: 0 20px;
    .label {
      font-size: 16px;
      color: #5b61b9;
    }
    .input {
      border-bottom: 2px solid #5b61b9 ;
    }
  }
}

ion-range {
  --bar-height: 8px;
  --bar-border-radius: 8px;
  --knob-size: 38px;
  --knob-background: #fff;
  --pin-background: #fff;
  --pin-color: #5B61B9;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

ion-button {
  --border-radius: 50%;
  height: 48px;
  width: 48px;
  margin-right: 20px;
}
