.header-title {
  font-size: 32px;
}

#container {
  height: 100%;
}

.content {
  height: 300px;
  overflow: scroll;
}

.list {
}

.bot-item-container {
  min-height: 68px;
  justify-items: flex-start;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 20px;
  .avatar {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-right: 5px;
  }
  .loading {
    min-height: 48px;
    margin: 10px 5px;
    display: flex;
    justify-items: center;
    align-items: center;
  }
  .text-box {
    background-color: #f6f6f7;
    // min-height: 48px;
    margin: 10px 5px;
    border-radius: 24px;
    display: flex;
    justify-items: center;
    justify-content: center;
    .label {
      padding: 15px;
      font-size: 14px;
      color: var(--ion-text-color) !important;
    }
  }
}

.user-item-container {
  min-height: 48px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;;
  margin: 20px;
  .text-box {
    background-color: #EDEEF7;
    min-height: 48px;
    margin: 10px 5px;
    border-radius: 24px;
    display: flex;
    justify-items: center;
    justify-content: center;
    .label {
      padding: 15px;
      font-size: 14px;
      color: var(--ion-text-color) !important;
    }
  }
  .edit-text {
    color: #5B61B9;
    font-size: 12px;
  }
}

.text-input-container {
  background-color: #edeef7;
  // height:100px;
  height: 180px;
  overflow: scroll;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  padding: 30px 20px;
  .input-container-item {
    width: 100%;
    display: flex;
  justify-content: space-between;
  align-items: center;
  }
  .input-box {
    width: 100%;
    margin: 0 20px;
    .label {
      font-size: 16px;
      color: #5b61b9;
    }
    .input {
      border-bottom: 2px solid #5b61b9 ;
    }
  }
  .dd-input-container {
    flex-direction: column;
    width: 100%;
    height: 300px;
    .btn {
      height: 48px;
      padding: 10px 20px;
      display: flex;
      align-items: center;
    }
  }
}

.dropdown-input-container {
  background-color: #edeef7;
  height:300px;
  overflow: scroll;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  .input-container-item {
    width: 100%;
    display: flex;
  justify-content: space-between;
  }
  .input-box {
    width: 100%;
    margin: 0 20px;
    .label {
      font-size: 16px;
      color: #5b61b9;
    }
    .input {
      border-bottom: 2px solid #5b61b9 ;
    }
  }
  .dd-input-container {
    flex-direction: column;
    width: 100%;
    .btn {
      height: 48px;
      padding: 10px 20px;
      display: flex;
      align-items: center;
    }
  }
}

.onboarded {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: #edeef7;
}

.onboarded-container {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: #edeef7;
}

ion-range {
  --bar-height: 8px;
  --bar-border-radius: 8px;
  --knob-size: 38px;
  --knob-background: #fff;
  --pin-background: #fff;
  --pin-color: #5B61B9;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

ion-button {
  --border-radius: 50%;
  height: 48px;
  width: 48px;
}

.submit-button {
  position: relative;
  left: 0px;
}
