<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center sf-pro bold header-title">
      Bella bot
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="ion-text-center">
        Bella bot
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-content #list class="content">
      <ion-list class="list" *ngIf="currentStepObj.responseType !== 'complete'">
        <div *ngFor="let conversation of conversations">
          <div *ngIf="conversation.user === 'bot'" class="bot-item-container">
            <ion-avatar class="avatar">
              <img src="/assets/bella-profile.png" *ngIf="conversation.step === currentStep">
            </ion-avatar>
            <div class="loading" *ngIf="!!currentStepObj.loading && conversation.step === currentStep">
              <ng-lottie [options]="loadingAnim" height="32px" width="80px"> </ng-lottie>
            </div>
            <div class="text-box" @textbox>
              <span
                *ngIf="conversation.step !== currentStep || (!currentStepObj.loading && conversation.step === currentStep)"
                class="sf-pro label" @textbox>
                {{conversation.message}}
              </span>
            </div>
          </div>
          <div *ngIf="conversation.user === 'user'" class="user-item-container">
            <div class="text-box" @textbox>
              <span class="sf-pro label" @textbox>
                {{conversation.message}}
              </span>
            </div>
            <span (click)="editUserResponse(conversation.step)" class="sf-pro bold edit-text">edit</span>
          </div>
        </div>
      </ion-list>
    </ion-content>
    <div class='text-input-container'
      *ngIf="currentStepObj.responseType === 'text' || currentStepObj.responseType === 'number'" @text-input-container>
      <div *ngIf="currentStepObj.responseType === 'text'" class="input-container-item" @text-input-container>
        <div class="input-box">
          <ion-label position="stacked" class="sf-pro bold label">Name</ion-label>
          <ion-input class="input" (change)="onChangeInput($event)" name="name" value={{inputVal}}></ion-input>
        </div>
        <ion-button class="submit-button" (click)="onSubmitBtn($event)" @submit-button>
          <ion-icon slot="icon-only" src="/assets/Send.svg"></ion-icon>
        </ion-button>
      </div>
      <div *ngIf="currentStepObj.responseType === 'number'" class="input-container-item" @text-input-container>
        <ion-range (ionChange)="onChangeInput($event)" name="age" value={{inputVal}} dualKnobs="false" min="10"
          max="100" step="1" snaps="false" pin="true"></ion-range>
        <ion-button class="submit-button" (click)="onSubmitBtn($event)" @submit-button>
          <ion-icon slot="icon-only" src="/assets/Send.svg"></ion-icon>
        </ion-button>
      </div>
    </div>

    <div class='dropdown-input-container' *ngIf="currentStepObj.responseType === 'dropdown'" @text-input-container>
      <div class="dd-input-container">
        <div *ngFor="let opt of ddOpts">
          <div (click)="onSubmitOpt(opt)" class="btn">
            {{opt}}
          </div>
        </div>
      </div>
    </div>

    <div class='onboarded-container' *ngIf="currentStepObj.responseType === 'complete'" @onboarded-container>
    </div>
    <app-onboarded *ngIf="currentStepObj.responseType === 'complete'" class="onboarded"></app-onboarded>
  </div>
</ion-content>