:root[mode=ios] .sf-pro,
:root[mode=md] .sf-pro{
  --ion-font-family:  'SF-Pro-Rounded'!important;
  font-family:  'SF-Pro-Rounded' !important;
}

.normal {
    font-weight: normal;
}

.ultra-light {
    font-weight: 100;
}

.thin {
    font-weight: 200;
}

.light {
    font-weight: 300;
}

.medium {
    font-weight: 500;
}

.bold {
    font-weight: 600;
}

.heavy {
    font-weight: 700;
}

.black {
    font-weight: 800;
}
